* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(3, 11, 6);
    background-color: #b3d6de;
    padding: 0.5%;
}
header {
    background-color: rgb(7, 2, 2);
    padding: 2%;
}
.navigator li,a{
    list-style: none;
    text-decoration: none;
    color: rgb(245, 246, 246);
}
Input[type=“text”] {

    font-size: 30px; 
    line-height: 1.5;
    
    }
#portfolio{
    color: rgb(5, 17, 17);
}
ol{
    margin-left: 2px;
    padding-left: 5px;
    font-size: 18px;
    margin-bottom: 5px;
    padding-bottom:5px ;
}


